<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271455247579-glbs83luio8jqcrrug75clgob4vkdb0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271455247579-glbs83luio8jqcrrug75clgob4vkdb0s</string>
	<key>API_KEY</key>
	<string>AIzaSyAgj2vnhp0LVs-MC7vWmuI2pHcJMRCYchI</string>
	<key>GCM_SENDER_ID</key>
	<string>271455247579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterClone</string>
	<key>PROJECT_ID</key>
	<string>nobu-twitter-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>nobu-twitter-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271455247579:ios:45a08ed363ef97c83e00fe</string>
</dict>
</plist>